[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8"

[packages]

[dev-packages]
"flake8" = "*"
"requests" = "*"
black = "==19.10b0"

[requires]
python_version = "3.6"
